.name {
    margin-bottom: 50px;
}

body {

    background-color: black !important;
    color: white !important;

    background: url('../img/dali3.jpg') no-repeat center center fixed;

/*    background-size: cover; */

}

#events {

    height: 1vh;
}