.event {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border-top: 1px solid grey;

  padding: 10px 0px;
  margin: 5px 10px;

  .event-name {
    font-family: Roboto Condensed, serif;
    font-weight: bold;
    font-size: calc(15px + 2vw);
    flex-grow: 3;
    color: #1abc9c;
    width: .3vw;
    padding: 10px 0;

    @media only screen and (max-width: 500px) {
      flex-basis: 100%;
    }
    @media only screen and (min-width: 1000px) {
      span {
        font-size: 35px;
      }
    }
  }

  .event-date {
    font-family: Roboto Condensed, serif;
    font-size: calc(16px + .5vw);
    flex-grow: 3;
    color: white;
    width: .3vw;
    padding: 10px 0;

    @media only screen and (max-width: 500px) {
      flex-basis: 100%;
    }
    @media only screen and (min-width: 1000px) {
      span {
        font-size: 35px;
      }
    }
  }


}
