<div *ngIf="days >= -1" class="event">
  <div class="event-name">
    <span *ngIf="5 <= days <= 0">😥</span>
    <span *ngIf="days == -1">💪</span>

    {{ event.name }}

    <span *ngIf="5 <= days <= 0">😱</span>
    <span *ngIf="days == -1">🍻</span>
  </div>

  <div class="event-time">
    <div class="event-time-days">
      <div [class.blink]="days == -1">{{ days == -1 ? 0 : days }}</div>
      <div class="event-time-label">Tage</div>
    </div>

    <div class="event-time-hours">
      <div [class.blink]="days == -1">{{ days == -1 ? 0 : hours }}</div>
      <div class="event-time-label">Stunden</div>
    </div>

    <div class="event-time-minutes">
      <div [class.blink]="days == -1">{{ days == -1 ? 0 : minutes }}</div>
      <div class="event-time-label">Minuten</div>
    </div>

    <div class="event-time-seconds">
      <div [class.blink]="days == -1">{{ days == -1 ? 0 : seconds }}</div>
      <div class="event-time-label">Sekunden</div>
    </div>
  </div>

</div>
